dist: trusty
sudo: false
language: node_js
node_js:
  - '6'
  - '7'
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
install:
  - yarn install
script:
  - npm test
  - npm run build
  - npm run build:prod
cache:
  directories:
    - $HOME/.cache/yarn
